.about {
    /* background-color: #b38a69; */
    /* background-color: #ad7c59; */
    /* background-color: #987554; */
    /* background-color: #a67b5b; */
    background-color: #2e1503;
    color: bisque;
    /* background-size: 100svw 100svh; Adjust the image size to cover the entire element */
    /* background-repeat: no-repeat; Prevent the image from repeating  */
    /* background-position: center; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding: 5vh 7vw;
    max-width: 1400px;
    .a1 {
        font-size: 7vh;
    }
    .a2 {
        font-size: 5vh;
    }
    .a3 {
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        gap: 1vh;
/* 
    &p {
        margin-bottom: 1vh;
    } */
    }
}








.img-con {
    height: 100svh;
    width: auto;
}
.image {
    /* margin: 10svh 10svw 10svh 10svw; */
    /* box-shadow: 1svh 1svh 50px 20px #4a301e; */
    /* border: 1svh solid #4a301e;  */
    /* outline: 1svh solid bisque; */
    height: 100svh;
    width: auto;
}
.text {
    margin: 8svh 2svw 8svh 1svw;
    /* font-size: 1rem; */
}
.ltext {
    color: #4a301e;
}
.stext {
    color: bisque;
}