.home{
    /* background-image: url("../assets/bgImg.png"); */
    background-color:  #6b815b;
    /* background-size: cover; */
    /* position: relative; */
    /* overflow: hidden; */
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    color: beige;

    /* justify-content: center; */
    /* align-items: center; */
    /* font-family: 'Garet-Book'; */

    /* font-family: 'Lora', serif; */
}
.content {
    height: 100%;
    background-color: rgba(160, 154, 165, 0.2);
    display: flex;
    align-items: center;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    /* background-image: url(); */
    /* width: 100svw; */
}
.main-text {
    margin-left: 10vw;
    /* background-color: blue; */
    width: 80%;
    .a1 {
        font-size: 10vw;
        font-weight: bold;
        font-family: "kamerik205";
        /* background-color: blue; */
        margin-bottom: 5px;
    }
    .a2 {
        font-size: 6vw;
        /* font-weight: bold; */
        font-family: "kamerik205";
        /* background-color: black; */
        margin-bottom: 11px;
    }
    .a3 {
        font-size: 4vw;
        font-family: "kamerik105";
        /* background-color: brown; */
        margin-bottom: 20px;
    }
    .a4 {
        display: flex;
        gap: 2vw;
        /* background-color: palevioletred; */
    }
}
.a4> img {
    height:4vh;
}
.left {
    /* background-color: rgba(160, 154, 165, 0.2);
    backdrop-filter: blur(2px); */
    display: flex;
    flex: 1;
    /* width: 70svw; */
    flex-direction: column;
    margin: 5svw 5svh 5svh 5svw;
    color: beige;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.right {
    margin-left: auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* color: white; */
    /* width: 30svw; */
}
.sideImg{
    height: 100svh;
    width: auto;
}
::-webkit-scrollbar {
    display: none; /* Set a width for the scrollbar (optional) */
  }