.home{
    /* background-image: url("../assets/bgImg.png"); */
    background-color:  #2e1503;
    /* background-size: cover; */
    /* position: relative; */
    /* overflow: hidden; */
    /* display: flex; */
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* font-family: 'Garet-Book'; */

    /* font-family: 'Lora', serif; */
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* width: 100svw; */
}
.left {
    /* background-color: rgba(160, 154, 165, 0.2);
    backdrop-filter: blur(2px); */
    display: flex;
    flex: 1;
    /* width: 70svw; */
    flex-direction: column;
    margin: 5svw 5svh 5svh 5svw;
    color: beige;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.right {
    margin-left: auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* color: white; */
    /* width: 30svw; */
}
.sideImg{
    height: 100svh;
    width: auto;
}
::-webkit-scrollbar {
    display: none; /* Set a width for the scrollbar (optional) */
  }