.project {
    /* background-color: #d1bea8; */
    background-color: #6c543a;
    height: 100vh;
    width: 100vw;
    color: beige;
    display: flex;
    padding: 10vh 10vw;
}
.project-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.project-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.project-title {
    font-size: 8vh;
    font-weight: bold;
}
.project-text {
    font-size: 4vh;
}
.project-btn {
    background-color: transparent;
    border: none;
    color: beige;
    font-size: 4vh;
}
.arrow-button {
    display: flex;
    gap: 4vw;
    justify-content: center;
}
.arrow-left,.arrow-right {
    background-color: transparent;
    border: 1px solid beige;
    color: beige;
    font-size: 4vh;
}
.project-right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #e9e1d7f4;
    backdrop-filter: blur(2px);
    color: #6c543a;
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    max-height: 750px;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .project-details>p {
    /* //how to make the text not exceed a particular width and height? */
    font-size: 2.5vh;
    padding: 0 10px;
  }
  .modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .view-button {
    margin-bottom: 5px;
    text-decoration: none;
    background-color: #3b1e08;
    color: #e9e1d7f4;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 2.5vh;
  }
  .close-button {
    margin-bottom: 5px;
    background-color: #3b1e08;
    color: #e9e1d7f4;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 2.5vh;
  }