.tech {
    /* background-color: #654321; */
    /* background-color: #4b533a; */
    /* background-color: #2e1503; */
    background-color: #a0ab81;
    height: 100svh;
    width: 100svw;
    color: beige;
    /* padding: 4em; */
}
.tech-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    /* align-items: center; */
    padding: 10vh 10vw;
}
.tech-title {
    font-size: 8vh;
}
.tech-skills {
    display:flex;
    flex:1;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.techs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.techs>div {
    text-align: center;
    font-size: 4vh;
}
.techs>p {
    font-size: 3vh;
    text-align: center;
}
.image {
    /* height: 100%; */
    width: 15vw;
    height: auto;
}

/* .tcontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
}
.ltt{
    padding: 1em;
    font-size: 3em;
}
.stt{
    font-size: 2em;
    align-self: center;
}
.ic {
    height: 7em;
    width: auto;
}
.skills {
    margin: 1em;
    display: grid;
    padding-left: 2em;
    grid-template-columns: 5em 5em 5em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 2.5em;
    column-gap: 4em;
    justify-content: center;
    align-items: center; */
    /* column-gap: 1em; */
/* } */